<% layout('layouts/boilerplate') %>
<h1><%= summery.title %> </h1>
<p>
    <%= summery.body %> 
</p>
<a href="/summeries/<%= summery._id %>/edit">edit</a>
<form action="/summeries/<%= summery._id %>?_method=DELETE" method="POST">
<button>Delete</button></form>
   <a href="/summeries/hear?play=<%= summery.body %>&lang=en">play</a>
<a href="/summeries/">View all summeries</a>